---
import BackToPrev from "../../components/BackToPrev.astro";
import BackToTop from "../../components/BackToTop.astro";
import Layout from "../../layouts/Layout.astro";
import { getCollection, render } from 'astro:content';
import { Image } from 'astro:assets'
import Comments from "../../components/Comment";

// 可以在这里设置默认语言和主题
const lang = "en";
const theme = "light";

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map(post => ({
    params: { slug: post.id }, props: { post },
  }));
}

const { post } = Astro.props;
const { Content, headings, remarkPluginFrontmatter } = await render(post);
const data = post.data
---

<Layout lang={lang} theme={theme} title={remarkPluginFrontmatter.title}>
  <div id="process-bar" class="fixed z-10 left-0 top-0 w-full h-1 shadow-md bg-green-500"></div>
  <div class="flex justify-center">
    <div class="max-w-screen-sm p-5 flex flex-col gap-4">
      <header class="flex flex-col gap-4">
        <div class="flex flex-col gap-2">
          <h1 class="text-3xl font-semibold pt-8">{remarkPluginFrontmatter.title}</h1>
          <div class="flex gap-2 text-gray-400 text-sm">
            <time
              datetime={post.data.pubDate.toISOString()}>
              {post.data.pubDate.toDateString()}
            </time>
            <p>{remarkPluginFrontmatter.author}</p> 
            <p>{ remarkPluginFrontmatter.words } words</p>
            <p>{ Math.ceil(remarkPluginFrontmatter.readingMinutes) } min</p>
          </div>
          <Image src={data.image.url}  alt={data.image.alt} class="mx-auto" />
        </div>
      </header>
      <main>
        <article class="prose dark:prose-invert">
          <Content />
        </article>
      </main>
      <footer class="flex justify-center">
        <!-- <BackToTop></BackToTop> -->
      </footer>
    </div>
    <div class="min-w-xs max-w-xs flex-col hidden md:flex">
      <div class="sticky top-16 flex flex-col gap-4 p-5">
        <BackToPrev href="/blog">
          Back to blog
        </BackToPrev>
        <h2 class="text-xl font-semibold">Table of Contents</h2>
        <ul class="flex flex-col gap-2">
          {headings.map((heading) => (
            <li class="text-sm" style={{ "padding-left": `${heading.depth - 2 * 10}px` }}>
              <a href={`#${heading.slug}`} class="hover:text-green-500">
                {heading.text}
              </a>
            </li>
          ))}
        </ul>
        <div class="flex flex-col gap-2">
          <h2 class="text-xl font-semibold">Tags</h2>
          <ul class="flex flex-wrap gap-1">
            {post.data.tags.map((tag) => (
              <li class="text-sm rounded px-1 py-1">
                #{tag}
              </li>
            ))}
          </ul>
        </div>
        <div class="mt-auto">
          <BackToTop></BackToTop>
        </div>
      </div>
    </div>
  </div>
  <!-- 评论组件 -->
  <div class="container mx-auto">
    <Comments client:only="react" />
  </div>
</Layout>

<style>
  @keyframes grow-process {
    0% {
      transform: scaleX(0);
    }

    100% {
      transform: scaleX(1);
    }
  }
  #process-bar {
    transform-origin: 0% 50%;
    animation: grow-process auto linear;
    animation-timeline: scroll();
  }
</style>