---
import BackToPrev from "../../components/BackToPrev.astro";
import BackToTop from "../../components/BackToTop.astro";
import Layout from "../../layouts/Layout.astro";
import { getCollection, render } from 'astro:content';
import { Image } from 'astro:assets'

// 可以在这里设置默认语言和主题
const lang = "en";
const theme = "light";

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map(post => ({
    params: { slug: post.id }, props: { post },
  }));
}

const { post } = Astro.props;
const { Content, headings, remarkPluginFrontmatter } = await render(post);
const data = post.data
---

<Layout lang={lang} theme={theme}>
  <div id="process-bar" class="fixed z-10 left-0 top-0 w-full h-1 shadow-md bg-green-500"></div>
  <article class="mx-auto max-w-screen-sm p-5 flex flex-col gap-4">
    <header class="flex flex-col gap-4">
      <BackToPrev href="/blog">
        Back to blog
      </BackToPrev>
      <div class="flex flex-col gap-2">
        <h1 class="text-3xl font-semibold pt-8">{remarkPluginFrontmatter.title}</h1>
        <div class="flex gap-2 text-gray-400 text-sm">
          <time
            datetime={post.data.pubDate.toISOString()}>
            {post.data.pubDate.toDateString()}
          </time>
          <p>{remarkPluginFrontmatter.author}</p> 
          <p>{ remarkPluginFrontmatter.words } words</p>
          <p>{ Math.ceil(remarkPluginFrontmatter.readingMinutes) } min</p>
        </div>
        <Image src={data.image.url}  alt={data.image.alt} class="mx-auto" />
      </div>
    </header>
    <main class="prose dark:prose-invert">
      <Content />
    </main>
    <footer class="flex justify-center">
      <BackToTop></BackToTop>
    </footer>
  </article>
</Layout>

<style>
  @keyframes grow-process {
    0% {
      transform: scaleX(0);
    }

    100% {
      transform: scaleX(1);
    }
  }
  #process-bar {
    transform-origin: 0% 50%;
    animation: grow-process auto linear;
    animation-timeline: scroll();
  }
</style>